.flex{
    display:flex;

    &-row {
        flex-direction: row;
    }

    &-column{
        flex-direction: column;
    }

    &-justify-center{
        justify-content: center;
    }

    &-align-center {
        align-items: center;
    }

    &-space-between {
        justify-content: space-between;
    }

    &-grow {
        flex-grow: 1
    }
}